bin
lib_managed
project/boot
project/target
scalac-insane
runconfig.xml
*.dot
*.ps
*.bin
insane.iws
out
target/*

src/*/*/*/*.class

config-run.xml

test.scala

*.swp
*/*.swp
*/*/*.swp
*.swo
*/*.swo
*/*/*.swo

about/*/*.aux
about/*/*.log
about/*/*.out
about/*/*.pdf
about/*/*.toc
about/*/*.bbl
about/*/*.blg
about/*/*.brf

slides/*/*.aux
slides/*/*.bbl
slides/*/*.nav
slides/*/*.dvi
slides/*/*.snm
slides/*/*.blg
slides/*/*.aux
slides/*/*.log
slides/*/*.out
slides/*/*.pdf
slides/*/*.vrb
slides/*/*.toc
