bin
lib_managed
project/boot
project/build/target
scalac-insane
runconfig.xml
*.dot
*.ps
*.bin
insane.iws
out
target/*

*.swp
*/*.swp
*/*/*.swp
*.swo
*/*.swo
*/*/*.swo

report/*.aux
report/*.log
report/*.out
report/*.pdf
report/*.toc

slides/*/*.aux
slides/*/*.bbl
slides/*/*.nav
slides/*/*.dvi
slides/*/*.snm
slides/*/*.blg
slides/*/*.aux
slides/*/*.log
slides/*/*.out
slides/*/*.pdf
slides/*/*.toc
